@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: #141414;
}

button {
    background-color: rgb(0, 113, 227);
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 25px;
    font-size: 22px;
}

.menu {
    list-style: none;
    width: 50%;
    margin: 0 auto;
}

.menu li {
    display: inline-block;
    width: 9%;
}

.menu li a {
    text-decoration: none;
    color: #d0d0d0;
    line-height: 44px;
}

section {
    text-align: center;
}

.macbook-air p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.macbook-air .new {
    color: #c04c0a;
    font-weight: 700;
    margin-bottom: 10px;
}

.macbook-air h1 {
    font-size: 64px;
}

.macbook-air h4 {
    font-size: 23px;
}

.macbook-air a,
.macbook-features .trade a,
.delivery a {
    display: block;
    color: rgb(0, 113, 227);
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.macbook-air img {
    margin-top: 50px;
}

.macbook-features {
    width: 100%;
    margin-top: 100px;
}

.macbook-features div {
    background-color: rgb(242, 242, 242);
    width: 48%;
    display: inline-block;
}

.macbook-features .accesories,
.macbook-features .trade {
    padding-top: 3%;
}

.macbook-features .trade {
    margin-left: 34px;
}

.macbook-features .accesories h4,
.macbook-features .trade h4 {
    font-size: 32px;
    margin-bottom: 15px;
}

.macbook-features .accesories h2,
.macbook-features .trade h2 {
    font-size: 64px;
    margin-bottom: 15px;
}

.macbook-features .accesories img {
    width: 100%;
    margin-top: 100px;
}

.macbook-features .trade img {
    margin-top: 49px;
    width: 59%;
}

.macbook-features .trade p {
    margin-bottom: 20px;
}

.delivery {
    padding-top: 100px;
}

.delivery h4 {
    font-size: 25px;
}

.delivery p {
    width: 20%;
    margin: 0 auto;
    font-size: 22px;
}

footer {
    background-color: rgb(245, 245, 247);
    margin-top: 50px;
    padding: 50px 260px;
}

footer ul {
    list-style: none;
    margin-top: 25px;
}

footer ul li {
    display: inline-block;
    border-right: 1px solid rgb(81, 81, 84);
}

footer ul li a {
    text-decoration: none;
    color: rgb(81, 81, 84);
    padding: 0 10px;
}

footer ul li a:first-child {
    padding-left: 0;
}

footer ul li:last-child {
    border-right: none;
}
